src/main/mule/inventory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="inventory-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="inventory-api-config" api="inventory-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="inventory-api-main">
        <http:listener config-ref="inventory-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="inventory-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="inventory-api-console">
        <http:listener config-ref="inventory-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="inventory-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\inventory\(productCode):application\json:inventory-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productCode">attributes.uriParams.'productCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:update doc:name="Update" doc:id="3c9d49a4-46e2-4693-aac9-2f835e5a7dad" config-ref="Database_Config" target="affectedRows" targetValue="#[payload.affectedRows]">
			<db:sql ><![CDATA[update inventory_item set count=:count, description=:description, size=:size 
where productCode=:productCode;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
productCode: attributes.uriParams.productCode,
size: payload.size,
count: payload.count,
description : payload.description
}]]]></db:input-parameters>
		</db:update>
    </flow>
    <flow name="delete:\inventory\(productCode):inventory-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productCode">attributes.uriParams.'productCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <db:delete doc:name="Delete" doc:id="b2e9d53f-db58-4f04-b09a-857026539854" config-ref="Database_Config" target="affectedRows" targetValue="#[payload.affectedRows]">
			<db:sql ><![CDATA[delete from inventory_item where productCode=:productCode;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	productCode: attributes.uriParams.productCode
}]]]></db:input-parameters>
        </db:delete>
    </flow>
    <flow name="get:\inventory:inventory-api-config">
        <db:select doc:name="Select" doc:id="70c65d32-b830-4208-8e46-e2f1e703dab6" config-ref="Database_Config">
            <db:sql><![CDATA[select * from inventory_item;]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="e1b75cf3-e0a9-4da3-a809-b3ffb4f7c59c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	items: payload map ( payload01 , indexOfPayload01 ) -> {
		productCode: payload01.productCode,
		size: payload01.size default "",
		count: payload01.count default 0,
		description: payload01.description default ""
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\inventory\(productCode):inventory-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productCode">attributes.uriParams.'productCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<db:select doc:name="Select" doc:id="cdc63136-8559-4ffc-950c-506513d9c18e" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from inventory_item where productCode=:productCode;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	productCode: vars.productCode
}]]]></db:input-parameters>
		</db:select>
        <ee:transform doc:name="Transform Message" doc:id="ea5d3ace-60ca-4f6c-80ba-fc4e9e008f5f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	productCode: payload[0].productCode,
	size: payload[0].size default "",
	count: payload[0].count default 0,
	description: payload[0].description default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="post:\inventory:application\json:inventory-api-config">
        <try doc:name="Try" doc:id="9254c13f-e615-4f81-9147-ee57d37c3f20">
            <db:insert doc:name="Insert" doc:id="731b8cdf-a188-4cfc-8ab9-ddaea0bcf91f" config-ref="Database_Config">
                <db:sql><![CDATA[insert into inventory_item (productCode, size, count, description) values 
(:productCode, :size, :count, :description);]]></db:sql>
                <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
            </db:insert>
            <ee:transform doc:name="Transform Message" doc:id="03fe2add-9586-44b4-8b84-c382fdf5ef05">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a8107790-b8b2-4826-9246-f28dfa784d49" type="DB:QUERY_EXECUTION" when="#[error.cause.message contains 'PRIMARY KEY']">
                    <set-variable value="409" doc:name="Set Status Code" doc:id="9dd3aa4e-e0b8-4d21-8a12-f9b0e17b1cab" variableName="httpStatus" />
                    <set-variable value="Conflict" doc:name="Set Reason Phrase" doc:id="ba94bb8b-8821-4558-a720-5643a83155ec" variableName="httpReasonPhrase" />
                    <logger level="INFO" doc:name="Logger" doc:id="43d900f6-397e-4808-9783-381381e27161" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>
</mule>
